* {
  box-sizing: border-box;
  margin: 0;
}
body,
select {
  font-family: "Inter", sans-serif;
}
.color-form {
  display: flex;
  justify-content: space-between;
  gap: 13px;
  padding: 1.5em 0.875em;
}
.color-picker {
  min-height: 3.23em;
  width: 9.9%;
  border: 1px solid #d1d5db;
  padding: 0.25em 0.3125em;
  background-color: #e5e5e5;
}
.color-form select {
  width: 60%;
}
select,
::picker(select) {
  appearance: base-select;
}
select::picker-icon {
  content: "";
  background: url("Selector.png");
  background-size: cover;
  width: 1.25em;
  height: 1.25em;
}

select {
  font-size: 1rem;
  padding: 0.5625em 0.8125em;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  color: #111827;
}
select:open {
  background-color: white;
}
::picker(select) {
  border-radius: 6px;
  border: none;

  box-shadow: 0px 0px 0px 1px rgb(0 0 0 / 5%);
  margin-top: 0.25em;
}
option {
  padding: 0.5em 0.75em;
}
option::checkmark {
  order: 1;
  margin-left: auto;
  content: "";
  background: url("Check.png");
  background-size: cover;
  width: 1.25em;
  height: 1.25em;
}
option:checked {
  font-weight: 600;
}
button,
.color-container {
  font-size: 0.75rem;
  font-weight: 500;
}
button {
  color: #374151;
  padding: 1.083em 0.9167em;
  background-color: white;
  border: 1px solid #d1d5db;
  box-shadow: 0px 1px 2px #0000000d;
  border-radius: 4px;
}
.color-container {
  display: flex;
  height: 80vh;
  text-align: center;
  color: #2b283a;
}
.color-container p {
  padding: 0.9167em 0;
}
img {
  width: 100%;
  height: 100%;
}
